/* xl */
@media screen and (max-width: 1199px) {
}
/* lg */
@media screen and (max-width: 991px) {
  .col-lg-33 {
    flex: 0 0 33%;
    max-width: 33%;
  }
  .col-lg-40 {
    flex: 0 0 40%;
    max-width: 40%;
  }
  .col-lg-50 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-60 {
    flex: 0 0 60%;
    max-width: 60%;
  }
  h1 {
    font-size: 42px;
  }
  h1 span {
    font-size: 42px;
    padding: 0px 15px;
  }
  .bannerContent {
    flex: 0 0 60%;
  }
  .facilityBox {
    padding: 35px 15px;
  }
  .view-detailsBtn {
    padding: 20px;
  }
  .serviceContent {
    max-width: 90%;
  }
  .radiate-content {
    padding-top: 7%;
    padding-left: 5%;
    padding-right: 10%;
    padding-bottom: 35%;
  }
  .radiate-content .section-description {
    max-width: 65%;
  }
  .expertCard h3 {
    font-size: 26px;
    bottom: 5%;
    left: 8%;
  }
  .experts-btn {
    bottom: 4%;
    padding: 7%;
  }
  .footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .footer ul li {
    text-align: center;
  }
}
/* md */
@media screen and (max-width: 767px) {
  .row {
    justify-content: center;
  }
  .col-md-100 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .col-md-33 {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
  .d-none {
    display: none;
  }
  .navList {
    display: none;
  }
  .navToogler {
    display: block;
  }
  .dropdown-menu {
    display: block;
    width: 50%;
    z-index: 999;
  }

  h1 {
    font-size: 36px;
  }
  h1 span {
    font-size: 36px;
    padding: 0px 25px;
  }
  .bannerContent {
    flex: 0 0 100%;
  }
  .facilityBox {
    margin: 16px 16px !important;
  }
  .view-detailsBtn {
    padding: 28px;
  }
  .section-cards {
    max-width: 50%;
    margin: 0 auto;
  }
  .section-header {
    justify-content: center;
    text-align: center;
  }
  .section-buttons {
    display: none;
  }
  .service-members {
    max-width: 100%;
    margin: 16px 0 auto;
  }
  .rating-description-width {
    max-width: 100%;
    text-align: center;
  }
  .radiate {
    margin-top: 32px;
  }
  .radiate-content h3 {
    max-width: 70%;
  }
  .md-mt-32 {
    margin-top: 32px;
  }
}
/* sm */
@media screen and (max-width: 575px) {
  .col-sm-100 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .dropdown-menu {
    right: 0;
    width: 100%;
    border-radius: 0px;
  }
  h1 {
    font-size: 30px;
  }
  h1 span {
    font-size: 30px;
    padding: 0px 20px;
  }
  .section-cards {
    max-width: 70%;
    margin: 0 auto;
  }
  .btn-contact {
    margin-left: 0;
    margin-top: 8px;
  }
}
